@{
	Layout = null;
}


<html lang="es" class="history svg video supports boxshadow csstransforms3d csstransitions backgroundcliptext webkit chrome win js sticky-header-enabled">
<head>
	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Favicon -->
	<link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/871/871484.png" type="image/png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">


	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<title>
		Super Marios
	</title>

	<!-- DNS Prefetch -->
	<link rel="dns-prefetch" href="//www.googletagmanager.com">
	<link rel="dns-prefetch" href="//fonts.googleapis.com/">

	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="https://mailamericas.com/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://mailamericas.com/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="https://mailamericas.com/vendor/animate/animate.min.css">
	<link rel="stylesheet" href="https://mailamericas.com/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="https://mailamericas.com/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://mailamericas.com/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://mailamericas.com/vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="https://mailamericas.com/css/theme.css">
	<link rel="stylesheet" href="https://mailamericas.com/css/theme-elements.css">
	<link rel="stylesheet" href="https://mailamericas.com/css/theme-blog.css">
	<link rel="stylesheet" href="https://mailamericas.com/css/theme-shop.css">

	<!-- Skin CSS -->
	<link rel="stylesheet" href="https://mailamericas.com/css/skins/default.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="https://mailamericas.com/css/custom.css">

	<!-- Head Libs -->
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-P6JJNRS"></script>
	<script src="https://mailamericas.com/vendor/modernizr/modernizr.min.js"></script>

	<!-- Google Tag Manager -->
	<!-- End Google Tag Manager -->
	<!-- Current Page CSS -->
	<link rel="stylesheet" href="https://mailamericas.com/vendor/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="https://mailamericas.com/vendor/rs-plugin/css/layers.css">
	<link rel="stylesheet" href="https://mailamericas.com/vendor/rs-plugin/css/navigation.css">


	<link rel="stylesheet" href="https://mailamericas.com/css/tracking-bar.css">

	<meta name="robots" content="noindex">
</head>


<body data-target="#header" data-spy="scroll" data-offset="100">
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6JJNRS"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header id="header" class="header-effect-shrink header-dark" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}" style="height: 54.4px;">
		<div class="header-body bg-color-quaternary border-top-0" style="position: fixed; top: 0px;">
			<div class="header-top bg-color-dark" style="height: 53.6px; min-height: 0px; overflow: visible;">
			</div>
		</div>
	</header>

	<div class="body">
		<div role="main" class="main" style="background: #eee">
			<div class="container pt-5">


				<div class="row">

					<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%ERROOOOOOR AQUI%%%%%%%%%%%%%%%%%%%%%%-->

					<div style="display:none" class="col-12 mt-4">
						<h2 class="mt-2 mb-2 ml-2 mr-2 text-capitalize font-weight-extra-bold" style="color:#76BD1D">Ayuda</h2>
						<p class="lead mt-2 mb-2 ml-2 mr-2">Para que podamos brindarte una atención personalizada, ingresá tu número de tracking.</p>
					</div>


					<div style="display:none" class="col">

						<h2 class="mt-5 text-center text-uppercase mb-0">Seguimiento de su vehiculo</h2>

						<div class="py-4 px-3 mt-3 mb-5" style="background: #f8f9fa; border-radius: 15px;">

							<div class="alert alert-danger my-3 lead text-center">
								No se ha encontrado un servicio con ese numero de tracking.
							</div>

							<form action="https://mailamericas.com/tracking" method="get">
								<div class="form-row justify-content-center">
									<div class="col-lg-4 col-md-6 col-sm-8">
										<input type="text" name="tracking" placeholder="Ej.: P976823" class="form-control">
									</div>
									<div class="col-sm-auto">
										<button class="btn btn-primary btn-block">Buscar</button>
									</div>
								</div>
							</form>
						</div>

					</div>

					<!--%%%%%%%%%%%%%%%%%%%%%%%%%%% fin del ERROOOOOOR AQUI%%%%%%%%%%%%%%%%%%%%%%-->

					<div class="col">

						<h2 class="mt-5 text-center text-uppercase mb-0">Seguimiento de su vehiculo</h2>

						<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
						<h4 class=" text-center mb-5">PLACA DEL VEICULO AQUI!!!</h4>
						<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->


						<div class="row justify-content-center">
							<div class="col-md-12 process process-vertical">
								<div class="pt-5 px-3 mb-4" style="background: #f8f9fa; border-radius: 15px;">
									<div id="tracking-bar" style="overflow-x: auto; overflow-y: hidden; width:60%; margin-left:20%">
										<ul class="tracking-bar">
											<li class="active">
												<div class="circle">
													<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building-exclamation" viewBox="0 0 16 16">
														<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z" />
														<path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm8.5 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5Zm0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z" />
													</svg>
												</div><!-- .circle -->

												<h5>Revision</h5>
											</li><!-- .box -->



											<li class="active">
												<div class="circle">
													<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building-fill-gear" viewBox="0 0 16 16">
														<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.493 4.493 0 0 0 12.5 8a4.493 4.493 0 0 0-3.59 1.787A.498.498 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.476 4.476 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1V1Zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z" />
														<path d="M11.886 9.46c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
													</svg>
												</div><!-- .circle -->

												<h5>Reparacion</h5>
											</li><!-- .box -->

											<li>
												<div class="circle">
													<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building-check" viewBox="0 0 16 16">
														<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514Z" />
														<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z" />
														<path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z" />
													</svg>
												</div><!-- .circle -->

												<h5>Finalizado</h5>
											</li><!-- .box -->






										</ul>
									</div>


									<div class="mx-auto" style="max-width: 800px; margin-top: 50px;">
										<div class="process-step  animated fadeIn">
											<div class="process-step-circle ">
												<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-building-exclamation" viewBox="0 0 16 16">
													<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z" />
													<path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm8.5 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5Zm0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z" />
												</svg>
											</div>
											<div class="process-step-content w-100">
												<div class="form-row" style="margin-top: 18px;">
													<div class="col">
														<p class="text-uppercase font-weight-bold pb-0 mb-0">Revision</p>
													</div>
												</div>

												<div class="form-row  my-3  align-items-center" id="e1">
													<div class="col-md-7"  id="descripcionRevision">
														<p class="my-1 pb-0 text-dark text-center text-md-left font-weight-bold h6">

														</p>
													</div>
													<div class="col-md-5 text-center">
														<div id="descripcionRevisionFecha"><!--aqui fecha--> </div>
														<div> <!--aqui hora--></div>
													</div>
												</div>

											</div>
										</div>


										<div class="process-step  animated fadeIn">
											<div class="process-step-circle ">
												<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-building-fill-gear" viewBox="0 0 16 16">
													<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.493 4.493 0 0 0 12.5 8a4.493 4.493 0 0 0-3.59 1.787A.498.498 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.476 4.476 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1V1Zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z" />
													<path d="M11.886 9.46c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
												</svg>
											</div>
											<div class="process-step-content w-100">
												<div class="form-row" style="margin-top: 18px;">
													<div class="col">
														<p class="text-uppercase font-weight-bold pb-0 mb-0">REPARACION</p>
													</div>
												</div>

												<div class="form-row  my-3  align-items-center">
													<div class="col-md-7" id="descripcionReparacion">
														<p class="my-1 pb-0 text-dark text-center text-md-left font-weight-bold h6">
															<!--aqui la descripcion-->
														</p>
													</div>
													<div class="col-md-5 text-center">
														<div id="descripcionReparacionFecha"><!--aqui fecha--> </div>
														<div id="prueba2"> <!--aqui hora--></div>
													</div>
												</div>
											</div>
										</div>
										<div class="process-step  animated fadeIn">
											<div class="process-step-circle ">
												<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-building-check" viewBox="0 0 16 16">
													<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514Z" />
													<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z" />
													<path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z" />
												</svg>
											</div>
											<div class="process-step-content w-100">
												<div class="form-row" style="margin-top: 18px;">
													<div class="col">
														<p class="text-uppercase font-weight-bold pb-0 mb-0">FINALIZADO</p>
													</div>
												</div>

												<div class="form-row  my-3  align-items-center">
													<div class="col-md-7" id="descripcionFinalizado">
														<p class="my-1 pb-0 text-dark text-center text-md-left font-weight-bold h6">
															<!--aqui la descripcion-->
														</p>
													</div>
													<div class="col-md-5 text-center">
														<div id="fechaFinalizado"><!--aqui fecha--> </div>
														<div id="horaFinalizado"> <!--aqui hora--></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>



		</div>

		<footer id="footer" class="mt-0">
			<div class="footer-copyright footer-copyright-style-2">
				<div class="container py-2">
					<div class="row py-4">
						<div class="col col-md-8 mb-4 mb-lg-0">
							<p>TallerSuperMarios © Copyright 2023. Todos los derechos reservados.</p>
						</div>
						<div class="col col-md-4 mb-4 mb-lg-0">
							<a href="https://mailamericas.com/terminos-de-uso-y-pol%C3%ADtica-de-privacidad"><p>Términos de uso y Política de Privacidad</p></a>
						</div>
					</div>
				</div>
			</div>
		</footer>



		<!-- Modal Tracking -->
		<div class="modal fade" id="trackingModal" tabindex="-1" role="dialog" aria-labelledby="trackingModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="trackingModalLabel"></h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body text-center">
						<img class="mb-2" src="https://mailamericas.com/img/icons/package-search.png" width="92" alt="">
						<h5>REVISE EL ESTADO DE SU VEHICULO</h5>
						<form role="search" action="#" method="get" onsubmit="trackPackage($('#trackingSearch2').val(), event)">
							<div class="simple-search input-group">
								<input class="form-control text-1" id="trackingSearch2" name="q" type="search" value="" placeholder="Ej.: EE059573252MH">
								<span class="input-group-append">
									<button class="btn" type="submit">
										<i class="fa fa-search header-nav-top-icon"></i>
									</button>
								</span>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="d-block d-lg-none" style="position: fixed; bottom: 20px; right: 30px; text-align: right; z-index: 1000;">

			<div>
				<button class="btn btn-rounded btn-primary" data-toggle="modal" data-target="#trackingModal">
					TRACKING <i class="fas fa-search header-nav-top-icon ml-1"></i>
				</button>
			</div>
		</div>



	</div>




	<script src="~/vendor/jquery/jquery.min.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Theme Custom -->

	<script src="~/js/vistas/EstadoVehiculoIndex.js"></script>
</body>
</html>