
@{
    ViewData["Title"] = "HistorialVehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">

}



<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Historial de Vehiculos</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-sm table-striped" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>placa</th>
                            <th>marca</th>
                            <th>Descripcion</th>
                            <th>fechaDeInicio</th>
                            <th>status</th>
                            <th>Acciones</th>




                          
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalle Venta</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtFechaRegistro">Fecha Registro</label>
                                    <input type="text" class="form-control form-control-sm" id="txtFechaRegistro" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtNumVenta">Numero Venta</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNumVenta" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtUsuarioRegistro">Usuario Registro</label>
                                    <input type="text" class="form-control form-control-sm" id="txtUsuarioRegistro" disabled>
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-sm-4">
                                    <label for="txtDocumentoCliente">Documento Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDocumentoCliente" disabled>
                                </div>
                                <div class="form-group col-sm-8">
                                    <label for="txtNombreCliente">Nombre Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNombreCliente" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtSubTotal">Sub Total</label>
                                    <input type="text" class="form-control form-control-sm" id="txtSubTotal" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtIGV">IVA</label>
                                    <input type="text" class="form-control form-control-sm" id="txtIGV" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtTotal">Total</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTotal" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tbProductos" class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary btn-sm" target="_blank" id="linkImprimir">Imprimir</a>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="~/js/vistas/HistorialVehiculo.js"></script>

}



